# Node modules
node_modules/

# Build output
dist/
build/
tmp/
out-tsc/

# Angular cache
.angular/cache/

# Environment files
src/environments/environment*.ts

# IDE and OS-specific files
.vscode/
*.log
.DS_Store
Thumbs.db

# NPM/Yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled source #
*.js
*.js.map

# Coverage reports
coverage/

# Misc
.sass-cache/
connect.lock
typings/
tslint-debug.log
