<!-- Courses Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-5" style="color: #bf0000;">Application and Enrollment Schedule</h1>
      </div>
      <div class="row g-4 justify-content-center">
          <!-- Card for April Admission -->
          <div class="col-lg-4 col-md-6">
              <div class="card border-0 shadow h-100" style="border: 2px solid #bf0000 !important;">
                  <div class="card-header bg-primary text-white text-center" style="background-color: #ffffff !important ;border-bottom: 2px solid #bf0000;">
                      <h4 class="card-title">April Admission</h4>
                  </div>
                  <div class="card-body">
                      <p><b>Interview:</b> May to September</p>
                      <p><b>Documentation Period:</b> May to October</p>
                      <p><b>Application Date:</b> November</p>
                      <p><b>Results/Payment Receipt:</b> February</p>
                  </div>
              </div>
          </div>
          <!-- Card for July Admission -->
          <div class="col-lg-4 col-md-6">
              <div class="card border-0 shadow h-100" style="border: 2px solid #bf0000 !important;">
                  <div class="card-header text-white text-center" style="background-color: #ffffff;border-bottom: 2px solid #bf0000;">
                      <h4 class="card-title">July Admission</h4>
                  </div>
                  <div class="card-body">
                      <p><b>Interview:</b> August to December</p>
                      <p><b>Documentation Period:</b> August to January</p>
                      <p><b>Application Date:</b> February</p>
                      <p><b>Results/Payment Receipt:</b> May</p>
                  </div>
              </div>
          </div>
          <!-- Card for October Admission -->
          <div class="col-lg-4 col-md-6">
              <div class="card border-0 shadow h-100" style="border: 2px solid #bf0000 !important;">
                  <div class="card-header text-white text-center" style="background-color: #ffffff;border-bottom: 2px solid #bf0000;">
                      <h4 class="card-title">October Admission</h4>
                  </div>
                  <div class="card-body">
                      <p><b>Interview:</b> November to March</p>
                      <p><b>Documentation Period:</b> November to April</p>
                      <p><b>Application Date:</b>  May</p>
                      <p><b>Results/Payment Receipt:</b>  August</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Courses End -->
