<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a routerLink="/home" routerLinkActive="active" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <!-- <h2 class="m-0 text-primary"><i class="fa fa-graduation-cap me-3"></i>Study In Japan</h2> -->
        <h2 class="m-0 text-primary" style="color: #bf0000 !important;"><i class="fa fa-graduation-cap me-3"></i>Setu to Wakayama 
            <!-- <br><span style="margin-left: 56px;font-size: 21px;">Center for Japanese Language, Culture & Exchange</span> -->
        </h2>
        <h4 class="m-1 text-primary"></h4>
        
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link" style="color: #bf0000 !important;font-weight: 600;">Home</a>
            <a routerLink="/about-us" routerLinkActive="active" class="nav-item nav-link" style="color: #bf0000 !important;font-weight: 600;">About Us</a>
            <!-- Courses Dropdown -->
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color: #bf0000 !important;font-weight: 600;">Courses</a>
                <div class="dropdown-menu fade-down m-0">
                    <a routerLink="/courses-overview" routerLinkActive="active" class="dropdown-item" style="color: #bf0000 !important;font-weight: 600;">Course Overview</a>
                    <a routerLink="/application-Enroll" routerLinkActive="active" class="dropdown-item" style="color: #bf0000 !important;font-weight: 600;">Application and <br>Enrollment Schedule</a>
                    <a routerLink="/required-Doc" routerLinkActive="active" class="dropdown-item" style="color: #bf0000 !important;font-weight: 600;">Required Documents</a>
                </div>
            </div>
            
            <a routerLink="/contact-us" routerLinkActive="active" class="nav-item nav-link" style="color: #bf0000 !important;font-weight: 600;">Contact</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->
