<app-slider ngSkipHydration></app-slider>

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative" style="height: 100%;">
                    <picture>
                        <source media="(min-width: 768px)" srcset="assets/img/Wakayama-Castle2.jpg">
                        <source media="(max-width: 767px)" srcset="assets/img/Wakayama-Castle_300x275.jpg">
                        <img class="img-fluid position-absolute w-100" src="assets/img/Wakayama-Castle2.jpg" alt="" style="object-fit: cover; height: 100%;">
                    </picture>
                </div>
            </div> -->
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                <!-- <h6 class="section-title bg-white text-start text-primary pe-3" style="font-size: 25px;">About Us</h6> -->
                <h3 class="mb-4" style="color: #bf0000">About Us</h3>
                <!-- <h1 class="mb-4" style="color: #bf0000">Setu to Wakayama</h1> -->
                <!-- <h3 class="mb-2">Center for Japanese Language, Culture & Exchange</h3> -->
                <p class="mb-4">Wakayama, located in Japan’s Kansai region, is a beautiful prefecture known for its rich cultural heritage, stunning natural landscapes, and welcoming atmosphere. Home to the UNESCO World Heritage sites of Kumano Kodo and Mount Koya, it offers a perfect blend of history and spirituality. Wakayama is also renowned for its excellent educational institutions, providing students with unique opportunities to study in a serene and inspiring environment. With its vibrant local culture and warm community, Wakayama is an ideal destination for international students seeking a truly immersive experience in Japan.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Graduation Certificate</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Native Japanese Teachers</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Part-Time Work Opportunities</p>
                    </div>

                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Career Guidance and Support</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Listed in the Japan Ministry of Justice's Authorized Schools</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Complete Assistance with the Admission Process and Accommodation</p>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
