<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative" style="height: 100%;">
                    <picture>
                        <source media="(min-width: 768px)" srcset="assets/img/wcgb.jpg">
                        <source media="(max-width: 767px)" srcset="assets/img/wcgb.jpg">
                        <img class="img-fluid position-absolute w-100" src="assets/img/wcgb.jpg" alt="wcgb" style="object-fit: cover; height: 100%;">
                    </picture>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="mb-4" style="color: #bf0000;">School Introduction</h1>
                <p class="mb-4">日本語学科 概要</p>
                <p class="mb-4">長年にわたり外国人の日本語教育に携わり、
優秀な人材を輩出。</p>
                <p class="mb-4">For many years, we have been dedicated to teaching Japanese to foreigners, helping to cultivate exceptional talent.</p>
                <p class="mb-4">WCGB offers language courses for international students who want to learn Japanese in order to enroll in universities, graduate schools and vocational schools or to find a job in Japan.</p>
                <p>For more details please visit: <a href="https://www.wcgb.ac.jp/japanese-outline/" target="_blank">https://www.wcgb.ac.jp/japanese-outline/</a></p>
            </div>
        </div>

       
    </div>
</div>
<!-- About End -->